*{
    margin: 0;
    padding: 0;}


/*Navbar*/

.navbar-custom{
        background-color: rgba(11, 71, 6, 0.753);
    }

    .logo-custom{
        width: 6rem;
        height: 6rem;
        border: solid beige;
        border-radius: 100px;
    }
    
    .nav-link{
        color: antiquewhite;
    }
    .navbar-nav .nav-link.active{
        color: rgb(97, 24, 24);
    }

    /*Main-content*/

.container-custom{
    margin: 3rem 3rem;
}

.img-custom-carousel{
    height: 100%;
}

/*footer*/

footer{
    background-color: rgba(11, 71, 6, 0.753);
    height: 8rem;
    position: absolute;
}

.footer-link{
    text-decoration: none;
    color: antiquewhite;
}
.footer-link:hover{
    color: rgb(97, 24, 24);
}

.div-footer{
    display: flex;
    width: 100%;
    bottom: 0;
    height: 100%;
    align-items: center;
    

}

.ul-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 50%;
}

li{
    list-style-type: none;
    
}